[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ncclient = "==0.6.0"
pyang = "==1.7.5"
requests = "==2.19.1"
xmltodict = "==0.11.0"
PyYAML = "==3.13"
pysnmp = "*"
ansible = "*"
virlutils = "*"
netmiko = "*"
napalm = "*"

[dev-packages]

[requires]
python_version = "3.6"
