! Generated Configuration
interface {{ interface }}
  description Link to {{ server }} port {{ link }} for {{ purpose }}
  switchport
  {% if vlan == "trunk" -%}
  switchport mode trunk
  {% else -%}
  switchport mode access
  switchport access vlan {{ vlan }}
  spanning-tree port type edge
  {% endif -%}
  no shutdown

 
